@page
@model Website.AboutModel
@{
    ViewData["Title"] = "About";
}



<h1>About Dino-Diner</h1>
<p>Founded in 2019 from the collective collective consciousness of the Fall Semester CIS 400 students of Kansas State University, Dino-Diner is devoted to bringing you the finest in dinosaur-themed dining experiences. Despite the prehistoric nature of our menu, we only use the freshest of ingredients, and no dinosaurs were harmed to bring our delectable fare to you.</p>
