@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Dino Diner</h1>
<img src="~/images/DinoDiner-24.png" alt="Dino Diner Photo"/>

<a asp-page="Privacy">Read Privacy Policy</a>
<a asp-page="About">Read the About Page</a>
<a asp-page="Menu">Menu</a>