@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~Pages\DinoDiner-32.png" />
<a asp-page="Privacy" type="submit">Privacy</a>
<a asp-page="Menu" type="submit">Menu</a>
<a asp-page="About" type="submit">About</a>
