@page
@model Website.MenuModel
@{
}


<h1>Menu</h1>

<h2>Combos</h2>
<h2>Entrees</h2>
<div class="menu-item">
    Brontowowurst
    $5.36
    498 calories
    brautwurst, whole-wheat bun, peppers, and onions

</div>
<div class="menu-item">
    DinoNuggets
    $4.25
    59 calories
    6 chicken nuggets

</div>
<div class="menu-item">
    PrehistoricPBJ

</div>
<div class="menu-item">
    PterodactylWings
    $7.21
    318 calories
    Chicken, Wing Sauce
</div>
<div class="menu-item">
    SteakosaurusBurger
    $5.15
    621 calories
    Whole wheat bun, steakburger pattie, pickle, ketchup, and mustard.
</div>
<div class="menu-item">
    TRexKingBurger
    $8.45
    728 calories
    whole wheat bun, three steakburger patties, lettuce, tomato, onion, pickle, ketchup, mustard, and mayo

</div>
<div class="menu-item">
    VelociWrap
    $6.86
    356 calories
    flour tortilla, chicken breast, romaine lettuce, Ceasar dressing, and parmesan cheese
</div>




<h2>Sides</h2>
<div class="menu-item">
    Fryceritops
    $0.99 (small)
    $1.45 (medium)
    $1.95 (large)
    calories 222 (small), 365 (medium), and 480 (large)
    potatoes, salt, and vegtable oil.
</div>
<div class="menu-item">
    MeteorMacAndCheese
    $0.99 (small)
    $1.45 (medium)
    $1.95 (large)
    calories are 420 (small), 490 (medium), and 520 (large).
    macaroni noodles, cheese product, and pork sausage.


</div>
<div class="menu-item">
    MezzorellaSicks
    $0.99 (small)
    $1.45 (medium)
    $1.95 (large)
    calories are 540 (small), 610 (medium), and 720 (large).
    cheese product, breading, and vegtable oil.
</div>
<div class="menu-item">
    Triceritots
    $0.99 (small)
    $1.45 (medium)
    $1.95 (large)
    calories are 352 (small), 410 (medium), and 590 (large).
    potatoes, salt, and vegtable oil.
</div>
<h2>Drinks</h2>