@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<h2>Combos</h2>
<div class="menu-item">
    <h3>Brontowurst Combo</h3>
    <ul style="list-style-type: none;">
        <li>Price: $8.13</li>
        <li>Calories: 832</li>
        <li>Ingredients: Brontowurst, Fryceritops, Cola Sodasaurus</li>
    </ul>
    <h3>Dino-Nuggets Combo</h3>
    <ul style="list-style-type: none;">
        <li>Price: $6.94</li>
        <li>Calories: 688</li>
        <li>Ingredients: Dino-Nuggets, Fryceritops, Cola Sodasaurus</li>
    </ul>
    <h3>Prehistoric PB&J Combo</h3>
    <ul style="list-style-type: none;">
        <li>Price: $9.37</li>
        <li>Calories: 817</li>
        <li>Ingredients: Prehistoric PBJ, Fryceritops, Cola Sodasaurus</li>
    </ul>
    <h3>Pterodactyl Wings Combo</h3>
    <ul style="list-style-type: none;">
        <li>Price: $10.11</li>
        <li>Calories: 652</li>
        <li>Ingredients: Pterodactyl Wings, Fryceritops, Cola Sodasaurus</li>
    </ul>
    <h3>Steakosaurus Combo</h3>
    <ul style="list-style-type: none;">
        <li>Price: $7.91</li>
        <li>Calories: 955</li>
        <li>Ingredients: Steakosaurus, Fryceritops, Cola Sodasaurus</li>
    </ul>
    <h3>T-Rex King Burger Combo</h3>
    <ul style="list-style-type: none;">
        <li>Price: $11.44</li>
        <li>Calories: 1062</li>
        <li>Ingredients: T-Rex King Burger, Fryceritops, Cola Sodasaurus</li>
    </ul>
    <h3>Veloci-Wrap Combo</h3>
    <ul style="list-style-type: none;">
        <li>Price: $9.74</li>
        <li>Calories: 720</li>
        <li>Ingredients: Veloci-Wrap, Fryceritops, Cola Sodasaurus</li>
    </ul>
</div>
<h2>Entrees</h2>
<div class="menu-item">
    <h3>Brontowurst</h3>
    <ul style="list-style-type: none;">
        <li>Price: $5.36</li>
        <li>Calories: 498</li>
        <li>Ingredients: Brautwurst, Peppers, Onions, Whole wheat Bun</li>
    </ul>
    <h3>Dino-Nuggets</h3>
    <ul style="list-style-type: none;">
        <li>Price: $4.25</li>
        <li>Calories: 354</li>
        <li>Ingredients: Chicken Nuggets</li>
    </ul>
    <h3>Prehistoric PB&J</h3>
    <ul style="list-style-type: none;">
        <li>Price: $6.52</li>
        <li>Calories: 483</li>
        <li>Ingredients: Bread, Peanut Butter, Jelly</li>
    </ul>
    <h3>Pterodactyl Wings</h3>
    <ul style="list-style-type: none;">
        <li>Price: $7.21</li>
        <li>Calories: 318</li>
        <li>Ingredients: Chicken, Wing Sauce</li>
    </ul>
    <h3>Steakosaurus</h3>
    <ul style="list-style-type: none;">
        <li>Price: $5.15</li>
        <li>Calories: 621</li>
        <li>Ingredients: Steakburger Pattie, Whole Wheat Bun, Ketchup, Mustard, Pickle</li>
    </ul>
    <h3>T-Rex King Burger</h3>
    <ul style="list-style-type: none;">
        <li>Price: $8.45</li>
        <li>Calories: 728</li>
        <li>Ingredients: Steakburger Pattie, Steakburger Pattie, Whole Wheat Bun, Ketchup, Mustard, Mayonnaise, Pickle, Lettuce, Tomato, Onion</li>
    </ul>
    <h3>Veloci-Wrap</h3>
    <ul style="list-style-type: none;">
        <li>Price: $6.86</li>
        <li>Calories: 386</li>
        <li>Ingredients: Flour Tortilla, Chicken Breast, Romaine Lettuce, Caesar Dressing, Parmesan Cheese</li>
    </ul>
</div>
<h2>Sides</h2>
<div class="menu-item">
    <h3>Fryceritops</h3>
    <ul style="list-style-type: none;">
        <li>Price: $0.99</li>
        <li>Calories: 222</li>
        <li>Ingredients: Potato, Salt, Vegetable Oil</li>
    </ul>
    <h3>Meteor Mac and Cheese</h3>
    <ul style="list-style-type: none;">
        <li>Price: $0.99</li>
        <li>Calories: 420</li>
        <li>Ingredients: Cheese Product, Macaroni Noodles, Pork Sausage</li>
    </ul>
    <h3>Mezzorella Sticks</h3>
    <ul style="list-style-type: none;">
        <li>Price: $0.99</li>
        <li>Calories: 540</li>
        <li>Ingredients: Cheese Product, Macaroni Noodles, Pork Sausage</li>
    </ul>
    <h3>Triceritots</h3>
    <ul style="list-style-type: none;">
        <li>Price: $0.99</li>
        <li>Calories: 352</li>
        <li>Ingredients: Potato, Salt, Vegetable Oil</li>
    </ul>
    <h2>Drinks</h2>
    <h3>Jurassic Java</h3>
    <ul style="list-style-type: none;">
        <li>Price: $0.59</li>
        <li>Calories: 2</li>
        <li>Ingredients: Water, Coffee</li>
    </ul>
    <h3>Sodasaurus</h3>
    <ul style="list-style-type: none;">
        <li>Price: $1.50</li>
        <li>Calories: 112</li>
        <li>Ingredients: Water, Natural Flavors, Cane Sugar</li>
    </ul>
    <h3>Tyrannotea</h3>
    <ul style="list-style-type: none;">
        <li>Price: $0.99</li>
        <li>Calories: 8</li>
        <li>Ingredients: Water, Tea</li>
    </ul>
    <h3>Triceritots</h3>
    <ul style="list-style-type: none;">
        <li>Price: $0.10</li>
        <li>Calories: 0</li>
        <li>Ingredients: Water</li>
    </ul>
</div>